body {
    background-color: rgb(69, 0, 66);
}
section{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_card{
    margin-top: 100px;
}
.card{
    display: flex;
    justify-content: space-around;
    cursor: pointer;
    width: 1300px;
    height: 400px;
    background-color: rgb(138, 0, 0);
    border-radius: 20px;
    border: 1px solid rgb(78, 78, 78);
    transition: all 1s ease ;
}
.card img {
    max-width: 100%;
    height: 400px;
    margin-left: 50px;
    transition: all 1s ease;
}

/* title card info structure */
.info_card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}
.info_card h2 {
    font-size: 26px;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
}
.info_card p {
    font-size: 20px;
    margin-bottom: 20px;
    padding: 0 100px 0 100px;
    font-family: 'Lobster', cursive;
}

/* animatie img */
.container_card:hover img {
    transform: scale(1.1);
}

.container_card:hover .card{
    border-radius: 10px 190px 10px 190px;
}